@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
	background: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.topinfo {
	background: #21242e;
	margin: 0;
	padding: 2px;
}

.topinfo .contactinfo {
	color: white;
	display: flex;
	padding: 5px 0;
	list-style-type: none;
}

.topinfo ul li:before {
  content: "\262D";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.topinfo .phone {
	width: 150px;
}

.topinfo .email {
	flex-grow: 1;
}

.topinfo .contactinfo .icon {
	padding-left: 15px;
}

.topinfo .contactinfo .icon:hover {
	color: orange;
}

div .logosquare {
	padding: 30px 0;
	background: #151823;
	position: sticky;
	top: 0;
	border-bottom: white solid 1px;
}

.logosquare .container {
	position: relative;
	height: 100%;
}

div .logosquare .container > * {
	float: left;
}

.logosquare .menu .menulist {
	list-style-type: none;
	color: white;
	display: flex;
	justify-content: center;
	font-weight: bolder;
	box-sizing: border-box;
	height: 100%;
	padding-top: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	/*align-items: center;*/
}

.logosquare .menu .menulist > *{
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 20px;
	/*height: 56px;*/
}


.logosquare .menu .menulist .seach{
	width: 20px;
	height: 20px;
	background-image: url('./img/seachicon.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 50px;
	padding-left: 10px;
	padding-right:10px;

}

.logosquare .menu .menulist .homelist, .pageslist, .servicelist, .gdprlist {
	list-style-type: none;
	padding: 0;
	margin-top: 20px;
	font-weight: normal;
	background-color: white;
	color: black;
	border-radius: 10px;
	display: none;
	position: absolute;
}

.logosquare .menu .home:hover {
	color: #f35444;
}

.logosquare .menu .home:hover .homelist{
	display: block;
}

.logosquare .menu .pages:hover {
	color: #f35444;
}


.logosquare .menu .pages:hover .pageslist{
	display: block;
}

.logosquare .menu .services:hover {
	color: #f35444;
}

.logosquare .menu .services:hover .servicelist{
	display: block;
}

.logosquare .menu .gdpr:hover {
	color: #f35444;
}


.logosquare .menu .gdpr:hover .gdprlist{
	display: block;
}

.logosquare .menu .contacts:hover {
	color: #f35444;
}

.logosquare .menu .seach:hover {
	border: red solid 1px;
}

.logosquare .menu .menulist li ul li{
	padding: 10px 20px;
	border-bottom: #ddd solid 1px;
	border-radius: 10px;
}

.logosquare .menu .menulist li ul li:hover{
	color: #f35444;
	border-bottom: #f35444 solid 1px;
}

.logosquare:after {
	content: '';
	display: block;
	clear:both;
}

.logosquare .container:after {
	content: '';
	display: block;
	clear:both;
}

.logosquare .container .seachicon {
	height: 30px;
	width: 30px;
	margin: 10px 20px;
}

.logosquare .container .seachicon:hover {
	border: red solid 1px;
}

.logosquare .container .seach {
	margin: 15px 0px;
	float: right;
	border: blue solid 2px;
	border-radius: 5px;
	background: url('./img/bg-seach.jpg');
	background-size: cover;
	background-position: center;
	font-weight: bold;
	padding: 5px 8px;
}

.infomationsquare {
	height: 800px;
	background: #151823;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	display: flex;
	flex-derection: column;
	align-items: center;
}

.infomationsquare .line1 {
	color: white;
	font-size: 70px;
	letter-spacing: 2px;
	word-spacing: 15px;

}

.infomationsquare .line2 {
	color: white;
	font-size: 80px;
	letter-spacing: 2px;
	word-spacing: 15px;
}

.infomationsquare .line2 #design {
	color: #f35444;
}

.infomationsquare .contactus {
	margin-top: 50px;
	width: 200px;
	height: 50px;
	color: white;
	border: #f35444 solid 2px;
	border-radius: 50px;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
}

.infomationsquare .contactus:hover {
	background-color: #f35444;
	transition: 1s;
}

.introducesquare .container .intro {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.introducesquare .container .intro .imgintro {
	width: 50%;
}

.introducesquare .container .intro .textintro {
	width: 50%;
}

.introducesquare .container .intro .textintro .line1, .line2 {
	font-size: 50px;
}

.introducesquare .container .intro .textintro .line1 .pro {
	color: #f35444;
}

.introducesquare .container .intro .textintro .line3 {
	font-size: 20px;
	color: #666666;
	margin-top: 30px;
	line-height: 25px;
}

.introducesquare .container .intro .textintro .line4 {
	font-size: 16px;
	color: #666666;
	margin-top: 30px;
	line-height: 25px;
	text-align: justify;
}

.introducesquare .container .count {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.introducesquare .container .count > *{
	width: 25%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.introducesquare .container .count .number {
	font-size: 80px;
}

.introducesquare .container .count .suf {
	font-size: 60px;
	color: #f35444;
}

.introducesquare .container .count .text {
	font-size: 20px;
}
.introducesquare .container .choose {
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
	margin-bottom: 100px;
}

.introducesquare .container .choose .choosecenter {
	width: 50%;
}

.introducesquare .container .choose .choosecenter .line1 {
	font-size: 50px;
	text-align: center;
}

.introducesquare .container .choose .choosecenter .line1 .choosetext {
	color: #f35444;
}

.introducesquare .container .choose .choosecenter .line2 {
	margin-top: 30px;
	font-size: 16px;
	color: #666;
	text-align: center;
}

.introducesquare .container .whychoose {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
	margin-bottom: 100px;
}


.introducesquare .container .whychoose > *{
	width: 30%;
	margin: 0 20px;
	border: #ccc solid 1px;
	border-radius: 20px;
	padding: 30px;
	height: 200px;
}

.introducesquare .container .whychoose .title{
	text-align: center;
	font-size: 20px;
}

.introducesquare .container .whychoose .text{
	text-align: center;
	padding: 20px 30px;
	font-size: 16px;
	color: #666666;
}

.footer {
	background: #151823;
	height: 350px;
	font-family: 'Montserrat', sans-serif;
}

.footer .container {
	display: flex;
}

.footer .container > *{
	width: 30%;
	margin: 0 20px;
	padding: 30px;
	height: 200px;
}

.footer .container .title {
	font-size: 30px;
	border-bottom: white solid 1px;
	padding: 20px 0;
	color: white;
}

.footer .container .text {
	padding-top: 20px;
}

.footer .container .text .textfooter {
	font-size: 14px;
	color: white;
}


.footer .container .text .textfooter {
	font-size: 14px;
	color: #666;
}

.footer .container .text .contactinfo {
	padding: 0;
}

.footer .container .text .contactinfo > *{
	padding: 10px 0;
	color: white;
	list-style-type: none;
	margin-left: 0px;
}
.footer .container .text .contactinfo > *:before{
	content: "\262D";
	color: red;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-right: 0.5em;
	padding: 0px;
}

.footer .container .text i {
	margin: 0 5px;
}

.footer .container .text i:hover {
	color: #f35444;
}


.footer .container .text .time {
	font-size: 14px;
	color: #666;
}

.footer .container .text .link {
	display: inline-block;
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 20px 0;
}

.footer .container .text .link:hover {
	color: #f35444;
}

.footer .youremail .yemail {
	text-align: center;
	color: #ffffff;
	width: 300px;
	height: 48px;
    background: rgba(116, 131, 190, 0);
	border: #f35444 solid 1px;
	border-radius: 48px;
	font-size: 20px;
	margin-top: 20px;
}

.footer .youremail .yemail:focus {
	outline: none;
}

.footer .sub {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	width: 300px;
	height: 48px;
    background: rgba(116, 131, 190, 0);
	border: #f35444 solid 1px;
	border-radius: 48px;
	font-size: 16px;
	margin-top: 20px;
}

.footer .sub:hover {
	background-color: #f35444;
}
